.footer {
    background: var(--background);
    border-radius: 60px 60px 0px 0px;
    padding: 40px 0;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    gap: 107px;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.footer__logo {}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 102px;
}

.footer__nav-list {
    flex-shrink: 0;
}

.footer__btn {
    font-size: 16px;
    max-width: 227px;
    width: 100%;
    height: 50px;
    padding: 10px 25px;
    flex-shrink: 0;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #939393;
    line-height: 1.5;
}

.footer__policy {
    font-weight: 600;
}