.header {}

.header__top {
    padding: 30px 0 31px 0;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.header__logo {
    max-width: 137px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}


.header__btn {
    display: none;
    margin-top: 40px;
}

.burger-icon {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--accent-color);
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 14px;
    height: 2px;
    border-radius: 200px;
    background: #fff;
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
    left: 0;
}

.burger-icon span::before {
    top: -5px;
}

.burger-icon span::after {
    top: 5px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    top: 0px;
    transform: rotate(-45deg);
}

/*=========================================*/


.header__hero {
    border-radius: 0px 0px 60px 60px;
    background: var(--background);
}

.hero__inner {
    padding: 120px 0;
    position: relative;
    overflow: hidden;
}

.hero__content {
    max-width: 550px;
    position: relative;
}

.hero__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;

}

.hero__text {
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.50;
}

.hero__btn {
    margin-top: 40px;

}


.hero__phone {
    position: absolute;
    left: 61%;
    top: 52px;
    z-index: 1;
}

.hero__phone::before {
    content: '';
    display: block;
    background-image: url("../img/chip.webp");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: -69%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero__phone::after {
    content: '';
    display: block;
    background-image: url("../img/lightning.webp");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -50%;
    top: -26%;
    width: 100%;
    height: 100%;
}

.hero__phone-img {}

.hero__chip-img {}

.hero__lightning-img {}